doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Hackathon Starter
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/main.css')

  body.hold-transition.login-page
    .login-box
      .login-logo 
        b DELL 
        | Dashboard
      .card
        .card-body.login-card-body
          p.login-box-msg Sign in to start your session
          form.form-horizontal(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.has-feedback
              label.control-label(for='email') Email
              input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
            .form-group.has-feedback
              label.control-label(for='password') Password
              input.form-control(type='password', name='password', id='password', placeholder='Password', required)
            .form-group.has-feedback
              button.btn.btn-block.btn-primary(type='submit')
                i.fa.fa-user
                | Login
                //- a.btn.btn-link(href='/forgot') Forgot your password?
            //- .form-group.has-feedback
            //-   .col-sm-offset-3
            //-     hr
            //- .form-group.has-feedback
            //-   .col-sm-offset-3
            //-     a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
            //-       i.fa.fa-facebook
            //-       | Sign in with Facebook

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
    script.
      $.widget.bridge('uibutton', $.ui.button)
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/adminlte.min.js')
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src='/js/main.js')
  
