footer.main-footer
  strong
    | Copyright © 2018 
    a(href='#') DELL
    | .
  |     All rights reserved.

// Control Sidebar
aside.control-sidebar.control-sidebar-dark
  // Control sidebar content goes here
// /.control-sidebar