// Navbar
nav.main-header.navbar.navbar-expand.bg-white.navbar-light.border-bottom
  // Left navbar links
  ul.navbar-nav
    li.nav-item
      a.nav-link(data-widget='pushmenu', href='#')
        i.fa.fa-bars
  // SEARCH FORM
  form.form-inline.ml-3
    .input-group.input-group-sm
      input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
      .input-group-append
        button.btn.btn-navbar(type='submit')
          i.fa.fa-search
// /.navbar
