aside.main-sidebar.sidebar-dark-primary.elevation-4
  // Brand Logo
  a.brand-link(href='/')
    img.brand-image.img-circle.elevation-3(src='/images/dell-logo.png', alt='DELL')
    span.brand-text.font-weight-light DELL
  // Sidebar
  .sidebar
    // Sidebar user panel (optional)
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .image
        img.img-circle.elevation-2(src='/images/avatar.png', alt='User Image')
      .info
        a.d-block(href='#') Alexander Pierce
    // Sidebar Menu
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
        //
          Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library
        li.nav-item
          a.nav-link(href='/setting/welcome-message')
            i.nav-icon.fa.fa-th
            p
              | Welcome
        li.nav-item
          a.nav-link(href='/setting/url-setting')
            i.nav-icon.fa.fa-th
            p
              | URL Setting
        li.nav-item
          a.nav-link(href='/setting/greeting-message')
            i.nav-icon.fa.fa-th
            p
              | Greetings
        li.nav-item
          a.nav-link(href='/category')
            i.nav-icon.fa.fa-th
            p
              | Category
        li.nav-item
          a.nav-link(href='/product')
            i.nav-icon.fa.fa-th
            p
              | Product
        li.nav-item
          a.nav-link(href='/autoanswer')
            i.nav-icon.fa.fa-th
            p
              | Auto-Answer
        li.nav-item
          a.nav-link(href='/promotion')
            i.nav-icon.fa.fa-th
            p
              | Promotion
    // /.sidebar-menu
  // /.sidebar
