doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - DELL
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/datatables/datatables.min.css')
    link(rel='stylesheet', href='/css/main.css')

  body.hold-transition.sidebar-mini.wrapper
    .wrapper
      include partials/header
      include partials/sidebar

      .content-wrapper
        include partials/flash
        block content

      include partials/footer

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
    script.
      $.widget.bridge('uibutton', $.ui.button)
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/adminlte.min.js')
    script(src='/js/lib/datatables.min.js')
    script(src='/js/lib/jquery.bootstrap-growl.min.js')
    script(src='/js/lib/moment.min.js')
    script(src='/js/lib/bootstrap-datetimepicker.js')
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src='/js/main.js')

    block script

    //- Google Analytics: change UA-38177297-2 to be your site's ID
    //- script.
    //-   window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    //-   ga('create','UA-38177297-2','auto');ga('send','pageview')
    //- script(src='https://www.google-analytics.com/analytics.js' async defer)
