extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Add new category
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='../') Home
            li.breadcrumb-item
              a(href='./') Category
            li.breadcrumb-item.active Add new category
  section.content
    .container-fluid
      .row
        .col-md-12
          .card.card-primary
            .card-header
              h3.card-title New Category Form
            form.form-horizontal(method='POST')
              .card-body
                .form-group
                  label.control-label(for='template_name') Category Name:
                  input.form-control(type='text', name='template_name', id='template_name', placeholder='Category name', autofocus, required)
                .form-group
                  label.control-label(for='additional_text') Additional Information:
                  input.form-control(type='text', name='additional_text', id='additional_text', placeholder='Additional information for this category')
                .form-group
                  label.control-label(for='image_url') Category Image URL:
                  input.form-control(type='url', name='image_url', id='image_url', placeholder='Image for this category', required)
                  //- label(for='image_url_upload') Or Upload Image:
                  //- .input-group
                  //-   .custom-file
                  //-     input.custom-file-input(type='file', name='image_url_upload', id='image_url_upload')
                  //-     label.custom-file-label(for='image_url_upload') Choose File
                .dropzone
                  .info
              .card-footer
                button.btn.btn-primary(type='submit') Add category
                a.btn.btn-default.float-right(href='./') Cancel

block script
  script(src='/js/lib/imgur.js')
  script.
    var feedback = function(res) {
      if (res.success === true) {
          var get_link = res.data.link.replace(/^http:\/\//i, 'https://');
          document.getElementById("image_url").value = get_link;
      }
    };
    new Imgur({
        clientid: '4409588f10776f7', //You can change this ClientID
        callback: feedback
    });
  