extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Category: #{category.template_name}
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='../../') Home
            li.breadcrumb-item
              a(href='../') Category
            li.breadcrumb-item.active Details
  section.content
    .container-fluid
      .row
        .col-md-6
          .card
            .card-header
              a.btn.btn-app(href='/category/edit/'+category.template_id)
                i.fa.fa-edit
                | Edit
              a.btn.btn-app.btn-danger(href='/category/delete/'+category.template_id+'?_method=delete')
                i.fa.fa-close
                | Delete
      .row
        .col-md-6
          .card.card-widget.widget-user
            .widget-user-header.text-white(style='background: url(\''+category.image_url+'\') center center no-repeat; height: 200px;')
      .row
        .col-md-6
          .card.card-default
            .card-header
              h3.card-title
                i.fa.fa-bullhorn
                |  Category Detail
            .card-body
              .callout.callout-danger
                h5 Category ID
                p #{category.template_id}
              .callout.callout-info
                h5 Category Name
                p #{category.template_name}
              .callout.callout-info
                h5 Category Image
                p #{category.image_url}
              .callout.callout-info
                h5 Category Additional Text
                p #{category.additional_text}
            .card-footer
block script
  script.
    $('.btn-danger').click(function (event) {
      event.preventDefault();
      var uri = $(this).attr('href');
      if (confirm('¿Are you sure?')) {
        $.post(uri, function (response) {
          window.location.href = '/category';
        });
      }
    });