extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Category Management
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='./') Home
            li.breadcrumb-item.active Category Management
  section.content
    .container-fluid
      .row
        .col-md-12
          .card
            .card-header
              .col-sm-12
                a.btn.btn-app(href='/category/add')
                  i.fa.fa-plus
                  | Add
            .card-body
              //- .row
              //-   .col-sm-12
              //-     table.table.table-bordered.table-striped(id='example1')
              //-       thead
              //-         tr
              //-           th Category Name
              //-           th Additional Text
              //-           th Action
              //-       tbody
              //-         for category in list_category
              //-           tr 
              //-             td #{category.template_name}
              //-             td #{category.additional_text}
              //-             td
              //-               .btn-group
              //-                 a.btn.btn-info.btn-sm(href='/category/details/'+category.template_id) View
              //-                 a.btn.btn-primary.btn-sm(href='/category/edit/'+category.template_id) Edit
              //-                 a.btn.btn-danger.btn-sm(href='/category/add') Delete
              .row
                for category in list_category
                  .col-md-4
                    .card.card-widget.widget-user
                      .widget-user-header.text-white(style='background: url(\''+category.image_url+'\') center center; height: 200px;')
                      .card-body
                        ul.products-list.product-list-in-card.pl-2.pr-2
                          li.item
                            .product-info
                              a.product-title #{category.template_name}
                              span.product-description #{category.additional_text}
                      .card-footer
                        .row
                          .col-sm-4.border-right
                            .description-block
                              a.btn.btn-info(href='/category/details/'+category.template_id) View
                          .col-sm-4.border-right
                            .description-block
                              a.btn.btn-primary(href='/category/edit/'+category.template_id) Edit
                          .col-sm-4
                            .description-block
                              a.btn.btn-danger(href='/category/delete/'+category.template_id) Delete

block script
  script.
    $('.btn-danger').click(function (event) {
      event.preventDefault();
      var uri = $(this).attr('href');
      if (confirm('¿Are you sure?')) {
        $.post(uri, function (response) {
          window.location.href = '/category';
        });
      }
    });
              
  