extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Add new answer
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='/') Home
            li.breadcrumb-item
              a(href='/autoanswer') Auto Answer
            li.breadcrumb-item.active Add new answer
  section.content
    .container-fluid
      .row
        .col-md-12
          .card.card-primary
            .card-header
              h3.card-title &nbsp
            form.form-horizontal(method='POST')
              .card-body
                .form-group
                  label.control-label(for='keyword') Keyword:
                  input.form-control(type='text', name='keyword', id='keyword', placeholder='Keyword', autofocus, required)
                .form-group
                  label.control-label(for='message_language') Language:
                  select.form-control(name='message_language', id='message_language', required)
                    option(value='vi', selected) Vietnamese (vi)
                    option(value='en') English (en)
                .form-group
                  label.control-label(for='message_content') Content:
                  textarea.form-control(type='text', name='message_content', id='message_content', placeholder='Content', rows="6" autofocus, required)
              .card-footer
                button.btn.btn-primary(type='submit') Add answer
                a.btn.btn-default.float-right(href='./') Cancel
  