extends ../layout

block content
    div.container-fluid
        section.content-header
            .row-md-2
                .col-sm-6
                h1 Auto Answer
                .col-sm-6
                ol.breadcrumb.float-sm-right
                    li.breadcrumb-item
                    a(href='./') Home &nbsp
                    li.breadcrumb-item.active / Auto Answer
        .row
            .col-sm-12
                a.btn.btn-app(href='/autoanswer/add')
                    i.fa.fa-plus
                    | Add
        div.container-fluid.datatables-container
            table#autoanswer.display
                thead
                    tr
                        th Keyword
                        th Language
                        th Content
                        th Actions
                tbody
                    for answer in list_answer
                        tr
                            td(data-name="keyword") #{answer.keyword}
                            td(data-name="message_language") #{answer.message_language}
                            td(data-name="message_content") #{answer.message_content}
                            td
                                a.btn.btn-warning(href="/autoanswer/edit/" + answer._id) 
                                    i.fa.fa-edit 
                                    |  Edit
                                a#trigger-modal.btn.btn-danger(style="margin-left: 6px;", href="#confirmation-modal", data-toggle="modal", data-answer-id=answer._id)
                                    i.fa.fa-trash
                                    |   Delete

    div#confirmation-modal.modal.fade.in(tabindex="-1", role="dialog")
        .modal-dialog.modal-confirm
            .modal-content
                .modal-header
                    .icon-box
                    i.fa.fa-2x.fa-warning(style="color: #ffc107;") &nbsp
                    h4.modal-title Are you sure?
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                .modal-body
                    p Do you really want to delete this record? This process cannot be undone.
                .modal-footer
                    button.btn.btn-info(type='button', data-dismiss='modal') Cancel
                    button#delete-answer.btn.btn-danger(type='button') Delete

block script               
    script.
        $(document).ready(function() {
            $('#autoanswer').DataTable({
                "initComplete": function() {
                    $('.datatables-container').css('display', 'block');
                }
            });

            var currentId = null;

            $("#trigger-modal").click(function() {
                currentId = $(this).attr('data-answer-id');
            })

            $("#delete-answer").click(function() {
                if (currentId) {
                    $.post( "/autoanswer/delete/" + currentId, function( data ) {
                        $.bootstrapGrowl("Deleting successfully", // Messages
                            { // options
                                type: "success", // info, success, warning and danger
                                ele: "body", // parent container
                                offset: {
                                from: "top",
                                amount: 20
                                },
                                align: "right", // right, left or center
                                width: 250,
                                delay: 2000,
                                allow_dismiss: true, // add a close button to the message
                                stackup_spacing: 10
                        });
                        setTimeout(function() {
                            location.reload();
                        }, 1000);
                    })
                    .always(function() {
                        $("#confirmation-modal").modal('toggle');
                        currentId = null;
                    })
                    .fail(function(){
                        $.bootstrapGrowl("Deleting failed", // Messages
                            { // options
                                type: "danger", // info, success, warning and danger
                                ele: "body", // parent container
                                offset: {
                                from: "top",
                                amount: 20
                                },
                                align: "right", // right, left or center
                                width: 250,
                                delay: 2000,
                                allow_dismiss: true, // add a close button to the message
                                stackup_spacing: 10
                        });
                    });
                }
            })
        })
        
