extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 URL Setting
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='./') Home
            li.breadcrumb-item.active URL Setting
  section.content
    .container-fluid
      .row
        .col-md-12
          .card.card-primary
            .card-header
              h3.card-title
                i.fa.fa-edit
                | URL Setting Form
            form.form-horizontal(method='POST')
              .card-body
                .form-group
                  label.control-label(for='minigame_url') Mini Games URL:
                  input.form-control(type='url', class='form-control', name='minigame_url', id='minigame_url', placeholder='URL for minigame', autofocus, required, value=minigame_url)
                .form-group
                  label.control-label(for='faqs_url') FAQs URL:
                  input.form-control(type='url', class='form-control', name='faqs_url', id='faqs_url', placeholder='URL for FAQs', autofocus, required, value=faqs_url)
              .card-footer
                button.btn.btn-primary(type='submit') Save
                button.btn.btn-default.float-right(type='reset') Cancel
  