extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Default Welcome Message Setting
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='./') Home
            li.breadcrumb-item.active Welcome
  section.content
    .container-fluid
      .row
        .col-md-12
          .card.card-primary
            .card-header
              h3.card-title
                i.fa.fa-edit
                | Welcome message setting form
            form.form-horizontal(method='POST')
              .card-body
                .form-group
                  label.control-label(for='welcome_vie') Vietnamese:
                  textarea.form-control(class='form-control', name='welcome_vie', id='welcome_vie', placeholder='Vietnamese', autofocus, required) #{welcome_vie}
                .form-group
                  label.control-label(for='welcome_eng') English:
                  textarea.form-control(class='form-control', name='welcome_eng', id='welcome_eng', placeholder='English', autofocus, required) #{welcome_eng}
              .card-footer
                button.btn.btn-primary(type='submit') Save
                button.btn.btn-default.float-right(type='reset') Cancel
  