extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Add new promotion
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='../') Home
            li.breadcrumb-item
              a(href='./') Promotion
            li.breadcrumb-item.active Add new promotion
  section.content
    .container-fluid
      .row
        .col-md-12
          .card.card-primary
            .card-header
              h3.card-title  &nbsp
            form.form-horizontal(method='POST')
              .card-body
                .form-group
                  label.control-label(for='template_name') Promotion Name:
                  input.form-control(type='text', name='template_name', id='template_name', placeholder='Promotion name', autofocus, required)
                .form-group
                  label.control-label(for='additional_text') Additional Information:
                  input.form-control(type='text', name='additional_text', id='additional_text', placeholder='Additional information for this promotion')
                .form-group
                  label.control-label(for='detail_url') Promotion Detail URL:
                  input.form-control(type='url', name='detail_url', id='detail_url', placeholder='Detail URL for this promotion', required)
                .form-group
                  label.control-label(for='image_url') Promotion Image URL:
                  input.form-control(type='url', name='image_url', id='image_url', placeholder='Image for this promotion', required)
                .dropzone
                  .info
                .form-group
                  label.control-label(for='start_date') Start date:
                  #startdatepicker.input-group.date
                    input.form-control(type='text', name='start_date')
                    .input-group-append
                      span.input-group-text.input-group-addon
                        i.fa.fa-calendar
                .form-group
                  label.control-label(for='end_date') End date:
                  #enddatepicker.input-group.date
                    input.form-control(type='text', name='end_date')
                    .input-group-append
                      span.input-group-text.input-group-addon
                        i.fa.fa-calendar
                .form-group
                  label.control-label(for='message') Message:
                  textarea.form-control(type='text', name='message', id='message', placeholder='Message for this promotion', rows="6" autofocus, required)
              .card-footer
                button.btn.btn-primary(type='submit') Add promotion
                a.btn.btn-default.float-right(href='./') Cancel

block script
  script(src='/js/lib/imgur.js')
  script.
    var feedback = function(res) {
      if (res.success === true) {
          var get_link = res.data.link.replace(/^http:\/\//i, 'https://');
          document.getElementById("image_url").value = get_link;
      }
    };
    new Imgur({
        clientid: '4409588f10776f7', //You can change this ClientID
        callback: feedback
    });

    $('#startdatepicker').datetimepicker();
    $('#enddatepicker').datetimepicker();
  