extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Promotion: #{promotion.template_name}
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='../../') Home
            li.breadcrumb-item
              a(href='../') Promotion
            li.breadcrumb-item.active Details
  section.content
    .container-fluid
      .row
        .col-md-6
          .card
            .card-header
              a.btn.btn-app(href='/promotion/edit/'+promotion._id)
                i.fa.fa-edit
                | Edit
              a#trigger-modal.btn.btn-app(href="#confirmation-modal", data-toggle="modal", data-promotion-id=promotion._id)
                i.fa.fa-close
                | Delete
      .row
        .col-md-6
          .card.card-widget.widget-user
            .widget-user-header.text-white(style='background: url(\''+promotion.image_url+'\') center center no-repeat; height: 200px;')
      .row
        .col-md-6
          .card.card-default
            .card-header
              h3.card-title
                i.fa.fa-bullhorn
                |  Promotion Detail
            .card-body
              .callout.callout-danger
                h5 Promotion ID
                p #{promotion.template_id}
              .callout.callout-info
                h5 Promotion Name
                p #{promotion.template_name}
              .callout.callout-info
                h5 Promotion Image
                p #{promotion.image_url}
              .callout.callout-info
                h5 Promotion Detail URL
                p #{promotion.detail_url}
              .callout.callout-info
                h5 Promotion Additional Text
                p #{promotion.additional_text}
              .callout.callout-info
                h5 Start Date
                p #{promotion.start_date}
              .callout.callout-info
                h5 End Date
                p #{promotion.end_date}
              .callout.callout-info
                h5 Message
                p #{promotion.message}
            .card-footer

  div#confirmation-modal.modal.fade.in(tabindex="-1", role="dialog")
        .modal-dialog.modal-confirm
            .modal-content
                .modal-header
                    .icon-box
                    i.fa.fa-2x.fa-warning(style="color: #ffc107;") &nbsp
                    h4.modal-title Are you sure?
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                .modal-body
                    p Do you really want to delete this record? This process cannot be undone.
                .modal-footer
                    button.btn.btn-info(type='button', data-dismiss='modal') Cancel
                    button#delete-promotion.btn.btn-danger(type='button') Delete
block script
  script.
    var currentId = null;

    $("#trigger-modal").click(function() {
      currentId = $(this).attr('data-promotion-id');
    })

    $("#delete-promotion").click(function() {
      if (currentId) {
          $.post( "/promotion/delete/" + currentId, function( data ) {
              $.bootstrapGrowl("Deleting successfully", // Messages
                  { // options
                      type: "success", // info, success, warning and danger
                      ele: "body", // parent container
                      offset: {
                      from: "top",
                      amount: 20
                      },
                      align: "right", // right, left or center
                      width: 250,
                      delay: 2000,
                      allow_dismiss: true, // add a close button to the message
                      stackup_spacing: 10
              });
              setTimeout(function() {
                  location.href = "/promotion";
              }, 1000);
          })
          .always(function() {
              $("#confirmation-modal").modal('toggle');
              currentId = null;
          })
          .fail(function(){
              $.bootstrapGrowl("Deleting failed", // Messages
                  { // options
                      type: "danger", // info, success, warning and danger
                      ele: "body", // parent container
                      offset: {
                      from: "top",
                      amount: 20
                      },
                      align: "right", // right, left or center
                      width: 250,
                      delay: 2000,
                      allow_dismiss: true, // add a close button to the message
                      stackup_spacing: 10
              });
          });
      }
    })