extends ../layout

block content
    div.container-fluid
        section.content-header
            .row-md-2
                .col-sm-6
                h1 Promotions
                .col-sm-6
                ol.breadcrumb.float-sm-right
                    li.breadcrumb-item
                    a(href='./') Home &nbsp
                    li.breadcrumb-item.active / Promotion
        .row
            .col-sm-12
                a.btn.btn-app(href='/promotion/add')
                    i.fa.fa-plus
                    | Add
        div.container-fluid.datatables-container
            table#promotion.display
                thead
                    tr
                        th Promotion name
                        th Start date
                        th End date
                        th Message
                        th Image
                        th Detail URL
                        th Actions
                tbody
                    for promotion in list_promotion
                        tr
                            td #{promotion.template_name}
                            td #{promotion.start_date}
                            td #{promotion.end_date}
                            td #{promotion.message}
                            td
                                img(src=promotion.image_url, width="150px")
                            td #{promotion.detail_url}
                            td
                                a.btn.btn-info(href="/promotion/detail/" + promotion._id, style="margin-right: 6px;") 
                                    i.fa.fa-info
                                    |  Detail
                                a.btn.btn-warning(href="/promotion/edit/" + promotion._id, style="margin-right: 6px;") 
                                    i.fa.fa-edit 
                                    |  Edit
                                a#trigger-modal.btn.btn-danger(href="#confirmation-modal", data-toggle="modal", data-promotion-id=promotion._id)
                                    i.fa.fa-trash
                                    |   Delete

    div#confirmation-modal.modal.fade.in(tabindex="-1", role="dialog")
        .modal-dialog.modal-confirm
            .modal-content
                .modal-header
                    .icon-box
                    i.fa.fa-2x.fa-warning(style="color: #ffc107;") &nbsp
                    h4.modal-title Are you sure?
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                .modal-body
                    p Do you really want to delete this record? This process cannot be undone.
                .modal-footer
                    button.btn.btn-info(type='button', data-dismiss='modal') Cancel
                    button#delete-promotion.btn.btn-danger(type='button') Delete

block script               
    script.
        $(document).ready(function() {
            $('#promotion').DataTable({
                "initComplete": function() {
                    $('.datatables-container').css('display', 'block');
                }
            });

            var currentId = null;

            $("#trigger-modal").click(function() {
                currentId = $(this).attr('data-promotion-id');
            })

            $("#delete-promotion").click(function() {
                if (currentId) {
                    $.post( "/promotion/delete/" + currentId, function( data ) {
                        $.bootstrapGrowl("Deleting successfully", // Messages
                            { // options
                                type: "success", // info, success, warning and danger
                                ele: "body", // parent container
                                offset: {
                                from: "top",
                                amount: 20
                                },
                                align: "right", // right, left or center
                                width: 250,
                                delay: 2000,
                                allow_dismiss: true, // add a close button to the message
                                stackup_spacing: 10
                        });
                        setTimeout(function() {
                            location.reload();
                        }, 1000);
                    })
                    .always(function() {
                        $("#confirmation-modal").modal('toggle');
                        currentId = null;
                    })
                    .fail(function(){
                        $.bootstrapGrowl("Deleting failed", // Messages
                            { // options
                                type: "danger", // info, success, warning and danger
                                ele: "body", // parent container
                                offset: {
                                from: "top",
                                amount: 20
                                },
                                align: "right", // right, left or center
                                width: 250,
                                delay: 2000,
                                allow_dismiss: true, // add a close button to the message
                                stackup_spacing: 10
                        });
                    });
                }
            })
        })
        
