extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Product: #{product.template_name}
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='../../') Home
            li.breadcrumb-item
              a(href='../') Product
            li.breadcrumb-item.active Details
  section.content
    .container-fluid
      .row
        .col-md-6
          .card
            .card-header
              a.btn.btn-app(href='/product/edit/'+product.template_id)
                i.fa.fa-edit
                | Edit
              a.btn.btn-app.btn-danger(href='/product/delete/'+product.template_id+'?_method=delete')
                i.fa.fa-close
                | Delete
      .row
        .col-md-6
          .card.card-widget.widget-user
            .widget-user-header.text-white(style='background: url(\''+product.image_url+'\') center center no-repeat; height: 200px;')
      .row
        .col-md-6
          .card.card-default
            .card-header
              h3.card-title
                i.fa.fa-bullhorn
                |  Product Detail
            .card-body
              .callout.callout-danger
                h5 Product ID
                p #{product.template_id}
              .callout.callout-info
                h5 Product Name
                p #{product.template_name}
              .callout.callout-info
                h5 Product Image
                p #{product.image_url}
              .callout.callout-info
                h5 Product Detail URL
                p #{product.detail_url}
              .callout.callout-info
                h5 Product Additional Text
                p #{product.additional_text}
              .callout.callout-info
                h5 Category
                a(href='/category/details/'+category.template_id, style="color : #007bff") #{category.template_name}
            .card-footer
block script
  script.
    $('.btn-danger').click(function (event) {
      event.preventDefault();
      var uri = $(this).attr('href');
      if (confirm('¿Are you sure?')) {
        $.post(uri, function (response) {
          window.location.href = '/product';
        });
      }
    });