extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Product: #{product.template_name}
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='../../') Home
            li.breadcrumb-item
              a(href='../') Product
            li.breadcrumb-item.active Update product
  section.content
    .container-fluid
      .row
        .col-md-12
          .card.card-primary
            .card-header
              h3.card-title Edit Product Form
            form.form-horizontal(method='POST')
              .card-body
                .form-group
                  label.control-label(for='template_name') Product Name:
                  input.form-control(type='text', name='template_name', id='template_name', placeholder='Product name', autofocus, required, value=product.template_name)
                  input.form-control(type='hidden', name='template_id', id='template_id', value=product.template_id)
                .form-group
                  label.control-label(for='additional_text') Additional Information:
                  input.form-control(type='text', name='additional_text', id='additional_text', placeholder='Additional information for this product', value=product.additional_text)
                .form-group
                  label.control-label(for='detail_url') Product Detail URL:
                  input.form-control(type='url', name='detail_url', id='detail_url', placeholder='Detail URL for this product', required, value=product.detail_url)
                .form-group
                  label.control-label(for='image_url') Product Image URL:
                  input.form-control(type='url', name='image_url', id='image_url', placeholder='Image for this product', required, value=product.image_url)
                .dropzone
                  .info
                .form-group
                  label.control-label Category
                    select.form-control(name="parent_id")
                      for category in list_category
                        if category.template_id == product.parent_id
                          option(value=category.template_id, selected="selected") #{category.template_name}
                        else
                          option(value=category.template_id) #{category.template_name}
                  //- label(for='image_url_upload') Or Upload Image:
                  //- .input-group
                  //-   .custom-file
                  //-     input.custom-file-input(type='file', name='image_url_upload', id='image_url_upload')
                  //-     label.custom-file-label(for='image_url_upload') Choose File
              .card-footer
                button.btn.btn-primary(type='submit') Update product
                a.btn.btn-default.float-right(href='../details/'+product.template_id) Cancel

block script
  script(src='/js/lib/imgur.js')
  script.
    var feedback = function(res) {
      if (res.success === true) {
          var get_link = res.data.link.replace(/^http:\/\//i, 'https://');
          document.getElementById("image_url").value = get_link;
      }
    };
    new Imgur({
        clientid: '4409588f10776f7', //You can change this ClientID
        callback: feedback
    }); 