extends ../layout

block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Product Management
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='./') Home
            li.breadcrumb-item.active Product Management
  section.content
    .container-fluid
      .row
        .col-md-12
          .card
            .card-header
              .col-sm-12
                a.btn.btn-app(href='/product/add')
                  i.fa.fa-plus
                  | Add
            .card-body
              .row
                for product in list_product
                  .col-md-4
                    .card.card-widget.widget-user
                      .widget-user-header.text-white(style='background: url(\''+product.image_url+'\') center center; height: 200px;')
                      .card-body
                        ul.products-list.product-list-in-card.pl-2.pr-2
                          li.item
                            .product-info
                              a.product-title #{product.template_name}
                              span.product-description #{product.additional_text}
                      .card-footer
                        .row
                          .col-sm-4.border-right
                            .description-block
                              a.btn.btn-info(href='/product/details/'+product.template_id) View
                          .col-sm-4.border-right
                            .description-block
                              a.btn.btn-primary(href='/product/edit/'+product.template_id) Edit
                          .col-sm-4
                            .description-block
                              a.btn.btn-danger(href='/product/delete/'+product.template_id) Delete

block script
  script.
    $('.btn-danger').click(function (event) {
      event.preventDefault();
      var uri = $(this).attr('href');
      if (confirm('¿Are you sure?')) {
        $.post(uri, function (response) {
          window.location.href = '/product';
        });
      }
    });
              
  